
.fiddlesticks-image {
    width: 80%;
    max-width: 768;
    max-height: 768;

}
.center {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}
.fiddlesticks-image {
    border-radius: 15px;
    border-width: 6px;
    border-color: black;
    border-style: solid;
}
h1 {
    color: #201d1d;
}
p {
    color: #c0c0c0;
}
a {
    color: #f0dbff;
}
.app-container {
    width: 100%;
    max-width: 768;
}